<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car List</title>
</head>
<body>
<h2>Car List</h2>
<table>
    <thead>
    <tr>
        <th>Rendszám</th>
        <th>Gyártó</th>
        <th>Típus</th>
        <th>Lóerő</th>
        <th>Műveletek</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.licensePlate}"></td>
        <td th:text="${car.manufacturer}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.horsepower}"></td>
        <td>
            <a th:href="@{/cars/{id}(id=${car.id})}">Részletek</a> |
            <a th:href="@{/cars/edit/{id}(id=${car.id})}">Szerkesztés</a> |
            <a th:href="@{/cars/delete/{id}(id=${car.id})}">Törlés</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/cars/new">Új autó</a>
</body>
</html>
