body {
	background-image: url('wood.png');
}
h1, h2 {
	color: #0081C4;
	text-align: center;
	background-color: white;
	padding: 10px;
}
h2 {
    font-size: 1em;
	border-style: dotted;
	border-color: #FF5050;
	border-width: 1px;
	margin: 20px;
	width: 250px;
	height: 50px;
}
p {
	width: 500px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 291px;
	background-color: #D9F2FA;
}
#tartalom {
	width: 831px;
	margin: 0 auto;
}